/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-lt-6 {
  margin-left: 6px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-lt-8 {
  margin-left: 8px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-lt-10 {
  margin-left: 10px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-lt-12 {
  margin-left: 12px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-lt-14 {
  margin-left: 14px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-lt-16 {
  margin-left: 16px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-lt-18 {
  margin-left: 18px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-lt-20 {
  margin-left: 20px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-lt-22 {
  margin-left: 22px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-lt-24 {
  margin-left: 24px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-lt-26 {
  margin-left: 26px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-lt-28 {
  margin-left: 28px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-rt-6 {
  margin-right: 6px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-rt-8 {
  margin-right: 8px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-rt-10 {
  margin-right: 10px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-rt-12 {
  margin-right: 12px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-rt-14 {
  margin-right: 14px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-rt-16 {
  margin-right: 16px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-rt-18 {
  margin-right: 18px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-rt-20 {
  margin-right: 20px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-rt-22 {
  margin-right: 22px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-rt-24 {
  margin-right: 24px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-rt-26 {
  margin-right: 26px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-rt-28 {
  margin-right: 28px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-tp-6 {
  margin-top: 6px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-tp-8 {
  margin-top: 8px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-tp-10 {
  margin-top: 10px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-tp-12 {
  margin-top: 12px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-tp-14 {
  margin-top: 14px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-tp-16 {
  margin-top: 16px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-tp-18 {
  margin-top: 18px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-tp-20 {
  margin-top: 20px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-tp-22 {
  margin-top: 22px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-tp-24 {
  margin-top: 24px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-tp-26 {
  margin-top: 26px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-tp-28 {
  margin-top: 28px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-bm-6 {
  margin-bottom: 6px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-bm-8 {
  margin-bottom: 8px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-bm-10 {
  margin-bottom: 10px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-bm-12 {
  margin-bottom: 12px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-bm-14 {
  margin-bottom: 14px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-bm-16 {
  margin-bottom: 16px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-bm-18 {
  margin-bottom: 18px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-bm-20 {
  margin-bottom: 20px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-bm-22 {
  margin-bottom: 22px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-bm-24 {
  margin-bottom: 24px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-bm-26 {
  margin-bottom: 26px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-bm-28 {
  margin-bottom: 28px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-ver-6 {
  margin-bottom: 6px;
  margin-top: 6px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-ver-8 {
  margin-bottom: 8px;
  margin-top: 8px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-ver-10 {
  margin-bottom: 10px;
  margin-top: 10px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-ver-12 {
  margin-bottom: 12px;
  margin-top: 12px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-ver-14 {
  margin-bottom: 14px;
  margin-top: 14px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-ver-16 {
  margin-bottom: 16px;
  margin-top: 16px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-ver-18 {
  margin-bottom: 18px;
  margin-top: 18px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-ver-20 {
  margin-bottom: 20px;
  margin-top: 20px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-ver-22 {
  margin-bottom: 22px;
  margin-top: 22px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-ver-24 {
  margin-bottom: 24px;
  margin-top: 24px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-ver-26 {
  margin-bottom: 26px;
  margin-top: 26px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-ver-28 {
  margin-bottom: 28px;
  margin-top: 28px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-hor-6 {
  margin-left: 6px;
  margin-right: 6px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-hor-8 {
  margin-left: 8px;
  margin-right: 8px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-hor-10 {
  margin-left: 10px;
  margin-right: 10px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-hor-12 {
  margin-left: 12px;
  margin-right: 12px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-hor-14 {
  margin-left: 14px;
  margin-right: 14px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-hor-16 {
  margin-left: 16px;
  margin-right: 16px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-hor-18 {
  margin-left: 18px;
  margin-right: 18px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-hor-20 {
  margin-left: 20px;
  margin-right: 20px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-hor-22 {
  margin-left: 22px;
  margin-right: 22px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-hor-24 {
  margin-left: 24px;
  margin-right: 24px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-hor-26 {
  margin-left: 26px;
  margin-right: 26px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-hor-28 {
  margin-left: 28px;
  margin-right: 28px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-6 {
  margin: 6px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-8 {
  margin: 8px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-10 {
  margin: 10px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-12 {
  margin: 12px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-14 {
  margin: 14px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-16 {
  margin: 16px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-18 {
  margin: 18px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-20 {
  margin: 20px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-22 {
  margin: 22px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-24 {
  margin: 24px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-26 {
  margin: 26px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_margins.scss */
.m-28 {
  margin: 28px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-lt-6 {
  padding-left: 6px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-lt-8 {
  padding-left: 8px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-lt-10 {
  padding-left: 10px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-lt-12 {
  padding-left: 12px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-lt-14 {
  padding-left: 14px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-lt-16 {
  padding-left: 16px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-lt-18 {
  padding-left: 18px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-lt-20 {
  padding-left: 20px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-lt-22 {
  padding-left: 22px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-lt-24 {
  padding-left: 24px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-lt-26 {
  padding-left: 26px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-lt-28 {
  padding-left: 28px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-rt-6 {
  padding-right: 6px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-rt-8 {
  padding-right: 8px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-rt-10 {
  padding-right: 10px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-rt-12 {
  padding-right: 12px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-rt-14 {
  padding-right: 14px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-rt-16 {
  padding-right: 16px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-rt-18 {
  padding-right: 18px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-rt-20 {
  padding-right: 20px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-rt-22 {
  padding-right: 22px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-rt-24 {
  padding-right: 24px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-rt-26 {
  padding-right: 26px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-rt-28 {
  padding-right: 28px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-tp-6 {
  padding-top: 6px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-tp-8 {
  padding-top: 8px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-tp-10 {
  padding-top: 10px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-tp-12 {
  padding-top: 12px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-tp-14 {
  padding-top: 14px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-tp-16 {
  padding-top: 16px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-tp-18 {
  padding-top: 18px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-tp-20 {
  padding-top: 20px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-tp-22 {
  padding-top: 22px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-tp-24 {
  padding-top: 24px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-tp-26 {
  padding-top: 26px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-tp-28 {
  padding-top: 28px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-bm-6 {
  padding-bottom: 6px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-bm-8 {
  padding-bottom: 8px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-bm-10 {
  padding-bottom: 10px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-bm-12 {
  padding-bottom: 12px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-bm-14 {
  padding-bottom: 14px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-bm-16 {
  padding-bottom: 16px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-bm-18 {
  padding-bottom: 18px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-bm-20 {
  padding-bottom: 20px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-bm-22 {
  padding-bottom: 22px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-bm-24 {
  padding-bottom: 24px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-bm-26 {
  padding-bottom: 26px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-bm-28 {
  padding-bottom: 28px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-ver-6 {
  padding-bottom: 6px;
  padding-top: 6px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-ver-8 {
  padding-bottom: 8px;
  padding-top: 8px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-ver-10 {
  padding-bottom: 10px;
  padding-top: 10px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-ver-12 {
  padding-bottom: 12px;
  padding-top: 12px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-ver-14 {
  padding-bottom: 14px;
  padding-top: 14px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-ver-16 {
  padding-bottom: 16px;
  padding-top: 16px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-ver-18 {
  padding-bottom: 18px;
  padding-top: 18px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-ver-20 {
  padding-bottom: 20px;
  padding-top: 20px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-ver-22 {
  padding-bottom: 22px;
  padding-top: 22px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-ver-24 {
  padding-bottom: 24px;
  padding-top: 24px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-ver-26 {
  padding-bottom: 26px;
  padding-top: 26px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-ver-28 {
  padding-bottom: 28px;
  padding-top: 28px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-hor-6 {
  padding-left: 6px;
  padding-right: 6px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-hor-8 {
  padding-left: 8px;
  padding-right: 8px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-hor-10 {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-hor-12 {
  padding-left: 12px;
  padding-right: 12px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-hor-14 {
  padding-left: 14px;
  padding-right: 14px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-hor-16 {
  padding-left: 16px;
  padding-right: 16px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-hor-18 {
  padding-left: 18px;
  padding-right: 18px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-hor-20 {
  padding-left: 20px;
  padding-right: 20px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-hor-22 {
  padding-left: 22px;
  padding-right: 22px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-hor-24 {
  padding-left: 24px;
  padding-right: 24px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-hor-26 {
  padding-left: 26px;
  padding-right: 26px;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-hor-28 {
  padding-left: 28px;
  padding-right: 28px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-6 {
  padding: 6px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-8 {
  padding: 8px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-10 {
  padding: 10px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-12 {
  padding: 12px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-14 {
  padding: 14px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-16 {
  padding: 16px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-18 {
  padding: 18px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-20 {
  padding: 20px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-22 {
  padding: 22px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-24 {
  padding: 24px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-26 {
  padding: 26px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_paddings.scss */
.p-28 {
  padding: 28px;
}

/* line 14, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-r-8 {
  font-size: 0.5 em;
}

/* line 14, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-r-9 {
  font-size: 0.5625 em;
}

/* line 14, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-r-10 {
  font-size: 0.625 em;
}

/* line 14, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-r-11 {
  font-size: 0.6875 em;
}

/* line 14, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-r-12 {
  font-size: 0.75 em;
}

/* line 14, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-r-13 {
  font-size: 0.8125 em;
}

/* line 14, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-r-14 {
  font-size: 0.875 em;
}

/* line 14, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-r-15 {
  font-size: 0.9375 em;
}

/* line 14, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-r-16 {
  font-size: 1 em;
}

/* line 14, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-r-17 {
  font-size: 1.0625 em;
}

/* line 14, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-r-18 {
  font-size: 1.125 em;
}

/* line 14, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-r-19 {
  font-size: 1.1875 em;
}

/* line 14, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-r-20 {
  font-size: 1.25 em;
}

/* line 14, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-r-21 {
  font-size: 1.3125 em;
}

/* line 14, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-r-22 {
  font-size: 1.375 em;
}

/* line 14, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-r-23 {
  font-size: 1.4375 em;
}

/* line 14, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-r-24 {
  font-size: 1.5 em;
}

/* line 14, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-r-25 {
  font-size: 1.5625 em;
}

/* line 14, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-r-26 {
  font-size: 1.625 em;
}

/* line 14, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-r-27 {
  font-size: 1.6875 em;
}

/* line 14, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-r-28 {
  font-size: 1.75 em;
}

/* line 14, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-r-29 {
  font-size: 1.8125 em;
}

/* line 14, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-r-30 {
  font-size: 1.875 em;
}

/* line 14, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-r-31 {
  font-size: 1.9375 em;
}

/* line 14, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-r-32 {
  font-size: 2 em;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-a-8 {
  font-size: 8px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-a-9 {
  font-size: 9px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-a-10 {
  font-size: 10px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-a-11 {
  font-size: 11px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-a-12 {
  font-size: 12px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-a-13 {
  font-size: 13px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-a-14 {
  font-size: 14px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-a-15 {
  font-size: 15px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-a-16 {
  font-size: 16px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-a-17 {
  font-size: 17px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-a-18 {
  font-size: 18px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-a-19 {
  font-size: 19px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-a-20 {
  font-size: 20px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-a-21 {
  font-size: 21px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-a-22 {
  font-size: 22px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-a-23 {
  font-size: 23px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-a-24 {
  font-size: 24px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-a-25 {
  font-size: 25px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-a-26 {
  font-size: 26px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-a-27 {
  font-size: 27px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-a-28 {
  font-size: 28px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-a-29 {
  font-size: 29px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-a-30 {
  font-size: 30px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-a-31 {
  font-size: 31px;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.fs-a-32 {
  font-size: 32px;
}

/* line 27, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.txt-al-lt {
  text-align: left;
}

/* line 30, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.txt-al-c {
  text-align: center;
}

/* line 33, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_fonts.scss */
.txt-al-rt {
  text-align: right;
}

/* line 12, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_misc.scss */
.p-a {
  position: absolute;
}

/* line 15, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_misc.scss */
.p-r {
  position: relative;
}

/* line 18, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_misc.scss */
.p-f {
  position: fixed;
}

/* line 21, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_misc.scss */
.p-s {
  position: sticky;
}

/* line 26, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_misc.scss */
.d-n {
  display: none;
}

/* line 29, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_misc.scss */
.d-bl {
  display: block;
}

/* line 32, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_misc.scss */
.d-in {
  display: inline;
}

/* line 35, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_misc.scss */
.d-in-bl {
  display: inline-block;
}

/* line 40, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_misc.scss */
.fl-lt {
  float: left;
}

/* line 43, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_misc.scss */
.fl-rt {
  float: right;
}

/* line 48, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_misc.scss */
.cl-b {
  clear: both;
}

/* line 51, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_misc.scss */
.cl-lt {
  clear: left;
}

/* line 54, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_misc.scss */
.cl-rt {
  clear: right;
}

/* line 59, /Users/tinganho/Desktop/Development/stylewithclass/stylesheets/stylewithclass/_misc.scss */
.ov-hid {
  overflow: hidden;
}
